/* public */
section{width:100%;}
.container{margin:0 auto; width:1140px; height:100%;z-index:0;}

/* first page */
#block-firstPage{width:100%; background-color:#16AB70; font-size: 100px; color:white; text-align: center;}
.blockTitle{position:absolute; margin:0 auto; width:100%;}

/* nav */
#block-nav {position:relative; top:0; height:52px; background-color:#42474B; color:white; }
#block-nav a{padding:0 25px; font-size:14px; line-height:52px; cursor:pointer; z-index: 1; color:white;}
#block-nav a:hover{color:#999;}
#logo{display: inline-block;}

/* block-intro */
#block-intro   {height:auto; width:100%; background-color:#328CD0;}
#intro-icon    {height:300px; width:100%; padding-top: 50px; line-height:300px;}
.link          {display:inline-block; height:100px; width:100px; text-indent: -9999em; }
#link-github   {background:url(../img/github.png) no-repeat center; margin-left:76px;}
#link-linkedin {background:url(../img/linkedin.png) no-repeat center; margin-left:76px;}
#myPhoto       {height:270px; width:270px; display:inline-block; margin:0 0 0 78px;}
#link-blog     {background:url(../img/blog.png) no-repeat center; margin-left:78px;}
#link-email    {background:url(../img/email.png) no-repeat center; margin-left:76px;}
#intro-text    {display:inline-block; margin:100px 0 0 130px; color:white;}
#intro-text ul {margin-bottom:100px;}
#intro-text li {height:30px;}
#intro-text ul li a {display:inline-block;}
#intro-text ul li a:hover {border-bottom:2px solid white;}
#intro-text ul li span {display:inline-block; text-align:right; width:70px;}
#intro-text div {display:inline-block; width:500px; margin-left:120px;}
#intro-text div p {margin-bottom:30px}

#block-skill {height:1000px; width:100%; background-color:#013863}
#block-workEXP {height:1000px; width:100%; background-color:#FFC4A4;}
#block-projectEXP {height:1000px; width:100%; background-color:#262c35;}
#block-eduBg {height:1000px; width:100%; background-color:#328CD0;}
#block-wantMore {height:1000px; width:100%; background-color:#16AB70;}